{% extends "base.html.twig" %}

{% block body %}

    <h1> Ajouter un article </h1>

    {{ form_start(form) }}

    {{ form_row(form.title, {
        'label': " ",
        "attr": {
            'placeholder': "Titre de l'article"
        }
    }) }}

    {{ form_row(form.photo, {
        'label': " ",
        "attr": {
            'placeholder': "[URL] Photo de l'article (Pas obligatoire)"
        }
    }) }}

    {{ form_row(form.description, {
        'label': " ",
        "attr": {
            'placeholder': "Description de l'article"
        }
    }) }}

    {{ form_row(form.save) }}

    {{ form_end(form) }}

{% endblock %}