{% extends "base.html.twig" %}
{% block body %}
    <h1> L'article </h1>
    {% if is_granted('ROLE_USER') %}
        <div class="Article">
            <h1>Article n°{{ article.id }}</h1>
            <h2 class="TitleA">{{ article.title }}</h2>
            <img class="ImgA" src="{{ article.photo }}" alt="Photo de l'article">
            <p class="DescritpionA">{{ article.description }}</p>
            <span class="DateA">{{ article.date }}</span>
        </div>
        {{ form_start(form) }}
        {{ form_row(form.content, {
            'label': "Postez un commentaire!",
            'attr': {
                'placeholder': "Entrez le commentaire que tu souhaites"
            }
        }) }}
        {{ form_row(form.Send) }}
        {{ form_end(form) }}
            <div class="Commentaire">
                {% for comment in comments %}
                    <span class="Username"><u>Auteur</u>: {{ comment.usersId }}</span>
                    <span class="Content"><u>Commentaire</u>: {{ comment.content }}</span>
                    <span class="Date">{{ comment.date }}</span>
                {% endfor %}
            </div>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="Article">
            <h1>Article n°{{ article.id }}</h1>
            <h2 class="TitleA">{{ article.title }}</h2>
            <img class="ImgA" src="{{ article.photo }}" alt="Photo de l'article">
            <p class="DescritpionA">{{ article.description }}</p>
            <span class="DateA">{{ article.date }}</span>
        </div>
        {{ form_start(form) }}
        {{ form_row(form.content, {
            'label': " ",
            'attr': {
                'placeholder': "Entrez le commentaire que tu souhaites"
            }
        }) }}
        {{ form_row(form.Send) }}
        {{ form_end(form) }}
            <div class="Commentaire">
                {% for comment in comments %}
                    <span class="Username"><u>Auteur</u>: {{ comment.usersId }}</span>
                    <span class="Content"><u>Commentaire</u>: {{ comment.content }}</span>
                    <span class="Date">{{ comment.date }}</span>
                {% endfor %}
            </div>
    {% else %}
        <div class="Article">
            <h1>Article n°{{ article.id }}</h1>
            <h2 class="TitleA">{{ article.title }}</h2>
            <img class="ImgA" src="{{ article.photo }}" alt="Photo de l'article">
            <p class="DescritpionA">{{ article.description }}</p>
            <span class="DateA">{{ article.date }}</span>
        </div>
            <div class="Commentaire">
                {% for comment in comments %}
                    <span class="Username"><u>Auteur</u>: {{ comment.usersId }}</span>
                    <span class="Content"><u>Commentaire</u>: {{ comment.content }}</span>
                    <span class="Date">{{ comment.date }}</span>
                {% endfor %}
            </div>
    {% endif %}
{% endblock %}