<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body id="main">
<header>
    <nav>
        <div id="hamburger-menu">
            <span>...</span>
            <a href="{{ path('home') }}"> Home </a>
            <a href="{{ path('users_index') }}"> Voir tout les élèves </a>
            <a href="{{ path('users_new') }}"> Registration </a>
            <a href="{{ path('login') }}">Login</a>
            <a href="{{ path('logout') }}">Logout</a>
            <a href="{{ path('AllArticles') }}"> All the article </a>
            <a href="{{ path('OneArticle', { "id": 1 }) }}"> One Article</a>
            <a href="{{ path('AddArticle') }}"> Add one article</a>
            <a href="{{ path('myArticles') }}"> My articles </a>
            <a href="{{ path('myComments') }}"> My Comments</a>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
<footer></footer>
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>
