{% extends "base.html.twig" %}

{% block body %}
    <h1> Les articles </h1>
    {% if is_granted('ROLE_USER') %}
        {% for article in articles %}
            <div class="Article">
                <h2 class="TitleA">Article n°{{ article.id }}: {{ article.title }}</h2>
                <img class="ImgA" src="{{ article.photo }}" alt="Photo de l'article">
                <p class="DescritpionA">{{ article.description }}</p>
                <span class="DateA">{{ article.date }}</span>
                <p class="LienA"><a href="{{ path('OneArticle', { "id": article.id }) }}">Voir l'article et ses
                        commentaire</a></p>
            </div>
        {% endfor %}
    {% elseif is_granted('ROLE_ADMIN') %}
        {% for article in articles %}
            <div class="Article">
                <h2 class="TitleA">Article n°{{ article.id }}: {{ article.title }}</h2>
                <img class="ImgA" src="{{ article.photo }}" alt="Photo de l'article">
                <p class="DescritpionA">{{ article.description }}</p>
                <span class="DateA">{{ article.date }}</span>
                <p class="LienA"><a href="{{ path('OneArticle', { "id": article.id }) }}">Voir l'article et ses
                        commentaire</a></p>
            </div>
        {% endfor %}
    {% else %}
        {% for article in articles %}
            <div class="Article">
                <h2 class="TitleA">Article n°{{ article.id }}: {{ article.title }}</h2>
                <img class="ImgA" src="{{ article.photo }}" alt="Photo de l'article">
                <p class="DescritpionA">{{ article.description }}</p>
                <span class="DateA">{{ article.date }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}